*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.main-header{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* margin: 0rem 2rem ; */

}
.sub-header{
    height: 60vh;
    width: 60rem;
    background-color:#1F2937 ;
    color:#fff;
     padding: 6rem 4rem ; 

}
span{
    color:#4ADF86

}
button{
    padding: 1rem 2rem;
    background-color: #4ADF86;
    border: none;
    color:#fff;
    border-radius: 0.5rem;
    margin-top: 2rem ;

}
p{
    margin-top: 1rem;
}
.line{
    margin: 3.2rem 0;
    width: 50rem;
     height: 0.1rem; 
    background-color: #2F3E53
    ;
}
.input-box{
    display: flex;
    gap:20rem;
    align-items: center;
}
#input-area{
    border:none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color:#2F3E53;
    color:#4ADF86;
}